* {
  margin: 0px;
  border: 0px;
}

body {
  background-color: #bdc3c7;
}
.portada {
  margin: 50px;
  position: relative;
  left: 100px;
  border-radius: 30px;
}

h1 {
  font-family: "David Libre", serif;
  font-size: 80px;
  margin: 5px;
}

nav {
  background-color: #ecf0f1;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "Quattrocento", serif;
}

li {
  text-align: center;
  display: inline;
  margin-right: 100px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-family: "Quattrocento", serif;
  font-family: "Slabo 27px", serif;
  margin-left: 200px;
  padding: 10px;
  font-size: 40px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-family: "Quattrocento", serif;
  font-family: "Slabo 27px", serif;
  font-size: 40px;
  margin-left: 50px;
  text-align: center;
}
p {
  background-color: #7f8fa6;
  text-align: left;
  margin: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  width: 500px;
}

.cds {
  background-color: white;
}

.gulp {
  width: 200px;
  height: 200px;
}
.mosca {
  width: 200px;
  height: 200px;
}

.lobo {
  width: 200px;
  height: 200px;
}

.luz {
  float: left;
  width: 50px;
  height: 50px;
}

.mono {
  width: 200px;
  height: 200px;
  float: left;
}

.oktubre {
  width: 200px;
  height: 200px;
  float: left;
}

.luz {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 60px;
}

.bang {
  width: 200px;
  height: 200px;
  position: relative;
  left: 550px;
}

.cds {
  background-color: #ecf0f1;
  border-radius: 10px;
  border: 10px black solid;
  margin: 30px;
  height: 500px;
}
.repro {
  position: relative;
  top: -1050px;
  left: 500px;
  margin-left: 10px;
  width: 50px;
}

.repro2 {
  position: relative;
  top: -1090px;
  left: 1000px;
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  position: relative;
  bottom: 50px;
  font-size: 20px;
  background-color: darkgoldenrod;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin-left: 400px;
  margin-right: 200px;
  display: inline-block;
}
